"atom-text-editor":
  "ctrl-shift-a": "critic-markup:addition"
  "ctrl-shift-d": "critic-markup:deletion"
  "ctrl-shift-s": "critic-markup:substitution"
  "ctrl-shift-h": "critic-markup:highlight"
  "ctrl-shift-c": "critic-markup:comment"
